<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utilities.ListenerClass"></listener>
	</listeners>
	<parameter name="browser" value="chrome"></parameter>
	<test name="Test">
		<classes>
			<!--	<class name="test.LoginTest" /> 
			<class name="test.TopOffersTest"></class>-->
			<class name="test.LoginTest" />
			<class name="test.TopOffersTest"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->